
* {
    font-size: 11px;
    font-family: 'Times New Roman';
}

button {
  margin-top: 5%;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  font-size: 10px;
  padding: 0 10px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: right;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}
button {
    margin-top: 8px;
    margin-left: 40px;
 }

 .comand{
    font-size: 14px;
    font-weight: bold;

}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}